<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Jbh_AjaxCart for Magento.
 *
 * @license Lesser General Public License v3 (http://www.gnu.org/licenses/lgpl-3.0.txt)
 * @author Jacques Bodin-Hullin <jacques@bodin-hullin.net>
 * @category Jbh
 * @package Jbh_AjaxCart
 * @copyright Copyright (c) 2013 Jacques Bodin-Hullin (http://jacques.sh/)
 */
-->
<config>
    <modules>
        <Jbh_AjaxCart>
            <version>0.1.0</version>
            <depends>
                <Mage_Checkout />
            </depends>
        </Jbh_AjaxCart>
    </modules>
    <global>
        <models>
            <jbh_ajaxcart>
                <class>Jbh_AjaxCart_Model</class>
            </jbh_ajaxcart>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <jbh_ajaxcart module="Jbh_AjaxCart">
                    <file>jbh_ajaxcart.xml</file>
                </jbh_ajaxcart>
            </updates>
        </layout>
        <routers>
            <jbh_ajaxcart>
                <use>standard</use>
                <args>
                    <module>Jbh_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </jbh_ajaxcart>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <ajaxcart_checkout_cart_add_product_complete>
                        <class>jbh_ajaxcart/observer</class>
                        <method>addProductComplete</method>
                    </ajaxcart_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
    <default>
        <jbh_ajaxcart>
            <javascript>
                <include_jquery>1</include_jquery>
            </javascript>
        </jbh_ajaxcart>
    </default>
</config>